.card-post{
  width: 70%;
  min-height: 80%;

  box-shadow: -1px 16px 26px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px;

  margin-top: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 20px;

  background: #fff;

  .card-post__title{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
  }

  .card-post__image{
    width: 70%;
    height: 65%;

    border-radius: 30px;
  }

  .card-post__description{
    padding: 10px;
  }

  .card-post__control-container{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto 70px auto;
    grid-template-areas:
      'like comment'
      'comments comments'
      'outline outline'
      'outlineForm outlineForm';

    align-items: center;
    justify-items: center;

    .card-post__button-like{
      grid-area: like;

      width: 65%;
      height: 85%;

      position: relative;
      &:active{
        top: 2px;
      }
    }

    .card-post__button-comment{
      grid-area: comment;

      width: 65%;
      height: 85%;

      position: relative;
      &:active{
        top: 2px;
      }
    }

    .card-post__container-comments{
      grid-area: comments;

      width: 100%;

      flex-direction: column;

      display: none;
      &.show{
        display: flex;
      }

      .container-comments__title{
        font-size: 1.7rem;
        text-align: center;

        padding: 10px;

        border-bottom: 1px solid #000;
      }

      .container-comments__form-comment{
        margin-top: 10px;
      }

      .container-comments__comments-list{
        list-style: none;

        .container-comments__comments-item {
          margin-top: 7px;

          font-size: 1.4rem;

          display: grid;
          grid-template-columns: 80px auto;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            'logo name'
            'logo comment';

          align-items: center;

          .comments-item__avatar{
            grid-area: logo;
          }

          .comments-item__title-name{
            grid-area: name;
          }

          .comments-item__text-comment{
            grid-area: comment;
          }
        }
      }
    }

    .card-post__button-complaint{
      grid-area: outline;

      position: relative;
      &:active{
        top: 2px;
      }
    }

    .card-post__form-complaint{
      display: none;

      &.show{
        display: flex;
      }

      grid-area: outlineForm;

      flex-direction: column;

      .form-complaint__title{
        text-align: center;
        font-size: 1.7rem;

        padding: 10px;

        border-bottom: 1px solid #000;
      }

      .form-complaint__container-reasons{
        padding: 10px;
      }

      .form-complaint__button-submit{
        align-self: center;

        width: 40%;

        position: relative;
        &:active{
          top: 2px;
        }
      }
    }
  }
}