.card-post{
  width: 70%;
  min-height: 80%;

  box-shadow: -1px 16px 26px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px;

  margin-top: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 20px;

  background: #fff;

  .card-post__title{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
  }

  .card-post__image{
    width: 70%;
    height: 65%;

    border-radius: 30px;
  }

  .card-post__description{
    padding: 10px;
  }

  .card-post__control-container{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas:
      'like comment'
      'comments comments';

    align-items: center;
    justify-items: center;

    .card-post__button-like{
      grid-area: like;

      width: 65%;
      height: 85%;
    }

    .card-post__button-comment{
      grid-area: comment;

      width: 65%;
      height: 85%;
    }

    .card-post__container-comments{
      grid-area: comments;

      display: none;
      &.show{
        display: block;
      }
    }
  }
}