.card-account{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title title'
    'profile posts';

  min-height: 100%;

  border-bottom: 1px solid #000;

  .card-account__title{
    grid-area: title;

    padding: 15px;
    border-bottom: 1px solid #000;

    text-align: center;
    font-size: 4rem;

    margin: 0;
  }

  .card-account__profile-card{
    grid-area: profile;

    height: 100%;

    border-right: 2px solid #000;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-card__image{
      width: 300px;
      height: 230px;

      border-radius: 35%;

      &.edit-image{
        cursor: pointer;
      }
    }

    .profile-card__container-about{
      box-shadow: -1px 16px 26px 0px rgba(34, 60, 80, 0.2);
      border-radius: 20px;

      padding: 15px;

      margin-top: 20px;

      display: flex;
      flex-direction: column;

      .container-about__title-name{
        text-align: center;
      }

      .container-about__title-town{
        font-size: 1.7rem;

        align-self: center;
      }

      .container-about__text-description{
        padding: 10px;
      }

      .container-about__button-edit{
        align-self: center;

        position: relative;
        &:active{
          top: 2px;
        }
      }
    }
  }

  .card-account__posts-card{
    grid-area: posts;

    padding: 15px;

    .posts-card__header{
      display: flex;
      justify-content: space-between;

      padding: 10px;

      border-bottom: 1px solid #000;

      .posts-card__title{
        font-size: 3rem;
      }

      .posts-card__button-add{
        align-self: center;

        height: 45px;

        position: relative;
        top: 7px;
        &:active{
          top: 10px;
        }
      }
    }
    .posts-card__container-posts{
      width: 100%;

      display: flex;
      flex-direction: column;

      align-items: center;

      .card-post + .card-post {
        margin-top: 20px;
      }
    }
  }
}