.tape{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("@/assets/img/RR.png") center;
  background-size: 150%;

  .tape__title{
    width: 100%;

    text-align: center;
    font-size: 4em;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
  }

  .tape__container-posts{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 75%;

    padding: 20px;
  }
}